version: '3.9'

services:
  frontend:
    build:
      context: frontend
    ports:
      - '80:80'
      - 443:443
    volumes:
      - ./frontend:/app:delegated
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    environment:
      - NODE_ENV=production
  certbot:
    image: certbot/certbot
    env_file:
      - .env
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --email ${CERTBOT_EMAIL} -d ${CERTBOT_DOMAIN} --agree-tos

volumes:
  postgres-data:
  root-home:
