@font-face {
  font-family: 'Allerta-Stencil-Regular';
  src: local('Allerta-Stencil-Regular.woff'),
    url(assets/fonts/Allerta-Stencil-Regular.woff) format('woff');
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;700;800&family=Poppins:wght@100;200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
