# name: deploy-client

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v3

#       - name: Build
#         run: |
#           npm install
#           npm run build
#         working-directory: frontend
#         env:
#           REACT_APP_BACKEND_URL: ${{ secrets.REACT_APP_BACKEND_URL }}

#       - name: Deploy
#         uses: JamesIves/github-pages-deploy-action@releases/v4
#         with:
#           TOKEN: ${{ secrets.GITHUB_TOKEN }}
#           BRANCH: gh-pages
#           FOLDER: frontend/build
